@font-face {
    font-family: Terminus;
    src: url(../fonts/TerminusTTF-4.49.3.ttf);
  }
  
  /* GLOBAL */
  body {
      background:  rgb(22, 22, 22);
      margin: 0;
      padding: 0;
    }
  
  .header-main-nav ul li a.projects{
    color: #4856d6;
  }
  
  .header-main-nav ul li a.projects:hover{
    color: #ff5555;
  }
  
  .header-main-nav ul li a.adventure_catalyst{
    color: #c3bb20;
  }

  .header-main-nav ul li a.adventure_catalyst:hover{
    color: #ff5555;
  }
  
  /* TERMINAL OVERLAY */
  #terminal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
  }
  
  #terminal {
    width: 80%;
    max-width: 800px;
    background: #1d1d1d; /* #1d1d1d is a dark terminal-like color */
    border-radius: 10px;
    padding: 20px;
    color: #00ff55;
    font-family: Terminus;
    font-size: 1.05rem;
    position: relative;
  }
  
  #terminal-text {
    white-space: pre-wrap;
    font-family: Terminus;
  }
  
  #terminal-close {
    position: absolute;
    top: 10px;
    right: 14px;
    font-size: 22px;
    cursor: pointer;
    color: white;
    user-select: none;
  }
  
  #terminal-close:hover {
    color: #ff5555;
  }
  
  #terminal {
    transform: translateY(-20px) scale(0.9);
    opacity: 0;
    transition: transform 0.28s cubic-bezier(.16, .84, .44, 1),
                opacity 0.25s ease;
  }
  
  #terminal.open {
    transform: translateY(0) scale(1);
    opacity: 1;
  }