@font-face {
  font-family: Terminus;
  src: url(../fonts/TerminusTTF-4.49.3.ttf);
}

/* GLOBAL */
body {
    background:  rgb(22, 22, 22);
    margin: 0;
    padding: 0;
  }

/* MAIN HEADER */
.header-main{
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  background-color: rgb(22, 22, 22);
  display: flex;
  justify-content: space-between;
  align-items:center;
  z-index: 1000;
  padding: 0 30px;     
  margin: 0 auto;      
  box-sizing: border-box; 
  }

/* HEADER LIST */
.header-main-menu{
  display: flex;
  align-items: center;
  gap: 20px
}

/* HEADER LOGO */
.header-main-logo{
  font-size: 17px;
  word-spacing: .5px;
  font-family: Terminus;
  color: white;
}

/* NAVIGATION BAR */
.header-main-nav ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;   
  height: 100%;          
  margin: 0;
  padding: 0;
}


.header-main-nav ul li{
  display: flex;
}


.header-main-nav ul li a{
  padding: 0 4.25px;
  font-family: Terminus;
  font-size: 17px;
  line-height: 60px;
  text-decoration: none;
  color: white;
}

.header-main-nav ul li a.header-main-logo{
  color: #8eecf1;
}

.header-main-nav ul li a.projects:hover{
  color: #4856d6;
}

.header-main-nav ul li a.music:hover{
  color: #1e579c;
}

.header-main-nav ul li a.about-me:hover{
  color: #2095c3;
}

.header-main-sm{
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-main-sm-li{
  width: 20px;
  height: 20px;
  background-image: url(../img/linked-black.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-li:hover{
  background-image: url(../img/linked-logo.png);
}

.header-main-sm-in{
  width: 20px;
  height: 20px;
  background-image: url(../img/insta-black.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-in:hover{
  background-image: url(../img/insta-logo.webp);
}

.header-main-sm-gh{
  width: 20px;
  height: 20px;
  background-image: url(../img/github-black.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-gh:hover{
  background-image: url(../img/github-color.png);
}

.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: 30px;
}

main {
  min-height: calc(100vh - 60px);
  width: 100%;
  background-color:  rgb(22, 22, 22);
  margin-top: 0;
  background-image: url(../img/headshot.jp), url();
  background-size: 90vh, cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-intro h1{
  font-family: Terminus;
  font-size: 90px;
  color: white;
}

main p{
  font-family: Terminus;
  font-size: 18px;
  color: white;
  line-height: 20px;
}
 
main a{
  font-family: Terminus;
  font-size: 18px;
  color: white;
  display: block;
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
  box-sizing: border-box; 
  box-shadow: 0 0 3px #00ff55;
  padding: 10px 20px;
  margin-top: 30px;
  width: fit-content;
}

main a:hover{
  color: #00ff55;
}

main .main-quotes p{
  font-family: Terminus;
  border-left: 4px solid white;
  font-size: 16px;
  color: white;
  line-height: 24px; 
  padding-left: 20px;
  margin: 40px 0 0 0;
}

/* IMAGE AND INFO SECTION */

.img-info{
  width: 50%;
}

.img-info h1{
  padding: 30px 30px 20px;
  margin: 0;
  font-family: Terminus;
  font-size: 50px;
  color: black;
  line-height: 44px;
}

.img-info p{
  padding: 0px 30px 20px;
  margin: 0;
  font-family: Terminus;
  font-size: 16px;
  color: black;
  line-height: 24px;
}

.img-headshot{
  width: 50%;
}

/* TERMINAL OVERLAY */
#terminal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

#terminal {
  width: 80%;
  max-width: 800px;
  background: #20adc3; /* #1d1d1d is a dark terminal-like color */
  border-radius: 10px;
  padding: 20px;
  color: white;
  font-family: Terminus;
  font-size: 1.05rem;
  position: relative;
}

#terminal-text {
  white-space: pre-wrap;
  font-family: Terminus;
}

#terminal-close {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 22px;
  cursor: pointer;
  color: white;
  user-select: none;
}

#terminal-close:hover {
  color: #ff5555;
}

#terminal {
  transform: translateY(-20px) scale(0.9);
  opacity: 0;
  transition: transform 0.28s cubic-bezier(.16, .84, .44, 1),
              opacity 0.25s ease;
}

#terminal.open {
  transform: translateY(0) scale(1);
  opacity: 1;
}
/*

@media only screen and (min-width: 768px) {
  .img-arcade{
    display: block;
    width: 100%;
    padding-bottom: 10px;
  }

  .wrapper{
    width: 600px;
    margin: 0 auto;
  }

  .img-info h1{
    padding: 20px 0px 0px;
  }
  
  .img-info p{
    padding: 20px 0px 0px;
  }

  .img-pumpkin{
    padding-top: 30px;
  }
}

@media only screen and (min-width: 1000px) {
  .header-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    }
  
  .header-main-menu{
    width: fit-content;
    height: 100%;
    padding-left: 40px;
    display: flex;
  }
  
  .header-main-logo{
    width: 200px;
    height: 60px;
    margin-top: 10px;
    background-image: url(../img/name.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .header-main-logo:hover{
    background-image: url(../img/name-blue.png)
  }
  
  .header-main-nav{
    width: fit-content;
    height: 100%;
  }
  
  .header-main-nav ul{
    list-style: none;
  }
  
  .header-main-nav ul li{
    display: inline;
    float: left;
  }
  
  .header-main-nav ul li a{
    padding: 0 10px 0 10px;
    font-family: Pixel;
    line-height: 30px;
    text-decoration: none;
    color: #1e1e1e;
  }
  
  .header-main-nav ul li a:hover{
    color: #38ff42;
  }
  
  .header-main-sm{
    width: fit-content;
    height: 100%;
    padding-right: 40px;
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  
  .header-main-sm-li{
    width: 20px;
    height: 20px;
    background-image: url(../img/linked-black.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .header-main-sm-li:hover{
    background-image: url(../img/linked-logo.png);
  }
  
  .header-main-sm-in{
    width: 20px;
    height: 20px;
    background-image: url(../img/insta-black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .header-main-sm-in:hover{
    background-image: url(../img/insta-logo.webp);
  }
  
  .projects{
    font-family: Pixel;
  }
  
  .wrapper{
    width: 1000px;
  }
  
  .img-info{
    margin-top:auto;
    width: 50%;
    float: right;
  }
  
  .img-info h1{
    padding: 20px 0px 0px 30px;
  }
  
  .img-info p{
    padding: 0px 0px 0px 30px;
  }
  
  .img-pumpkin{
    margin-top: 70px;
    padding-top: 0px;
    width: 50%;
    float: left;
  }

}

.img-music{
  width: 1100px;
  height: 200px;
  background-image: url(img/music.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
  
/*
h1 {
    color: #FFF;
    font-size: 2em;
    padding-top: 10px;
    width: 100%;
  }
  
h2 {
  }

  nav {
    width: 100;
    height: 100px;
    background-color: #1c1c1c;
    opacity: 90%
  }

ul {
    margin-left: 60px;
}

ul li {
    list-style: none;
    display: inline-block;
    line-height: 100px;
  }

ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial;
    color: #ffffff;
    padding: 0 30px;
  }

ul li a:hover {
    color: #5575bc;
  }

p {
    color: aliceblue;
    line-height: 1.3em;
    text-align: left;
    width: 100%;
  }

.menu{
    width: 100;
    height: 100px;
    background-color: #111;
    opacity: 50%;
}

.menu ul{
  margin-left: 60px;
}

.menu ul li{
  list-style: none;
  display: inline-block;
  line-height: 100px;
}

.menu ul li a{
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial;
  color:rgb(26, 164, 218);
  padding: 0 30px;
}

.menu ul li a:hover{
  color: #0051ff;
}
*/