@font-face {
  font-family: Pixel;
  src: url(../fonts/PixelifySans-VariableFont_wght.ttf);
}

/* GLOBAL */
body {
    background: white;
    margin: 0;
    padding: 0;
  }

/* MAIN HEADER */
.header-main{
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items:center;
  z-index: 1000;
  padding: 0 30px;     
  margin: 0 auto;      
  box-sizing: border-box; 
  }

/* HEADER LIST */
.header-main-menu{
  display: flex;
  align-items: center;
  gap: 20px
}

/* HEADER LOGO */
.header-main-logo{
  width: 150px;
  height: 60px;
  margin-top: 20%;
  background-image: url(../img/name.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.header-main-logo:hover{
  background-image: url(../img/name-blue.png)
}

/* NAVIGATION BAR */
.header-main-nav ul{
  display: flex;
  align-items: center;   
  height: 100%;          
  margin: 0;
  padding: 0;
}

.header-main-nav ul li{
  display: flex;
}

.header-main-nav ul li a{
  padding: 0 10px;
  font-family: Pixel;
  line-height: 60px;
  text-decoration: none;
  color: black;
}

.header-main-nav ul li a.resume:hover{
  color: #0ce6f2;
}

.header-main-nav ul li a.projects:hover{
  color: #0098db;
}

.header-main-nav ul li a.music:hover{
  color: #1e579c
}

.header-main-nav ul li a.about-me:hover{
  color: #203562
}

.header-main-sm{
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-main-sm-li{
  width: 20px;
  height: 20px;
  background-image: url(../img/linked-black.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-li:hover{
  background-image: url(../img/linked-logo.png);
}

.header-main-sm-in{
  width: 20px;
  height: 20px;
  background-image: url(../img/insta-black.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-in:hover{
  background-image: url(../img/insta-logo.webp);
}

.header-main-sm-gh{
  width: 20px;
  height: 20px;
  background-image: url(../img/github-black.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-gh:hover{
  background-image: url(../img/github-color.png);
}

.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: 30px;
}

/* IMAGE AND INFO SECTION */

.img-info{
  width: 50%;
}

.img-info h1{
  padding: 30px 30px 20px;
  margin: 0;
  font-family: Arial;
  font-size: 50px;
  color: black;
  line-height: 44px;
}

.img-info p{
  padding: 0px 30px 20px;
  margin: 0;
  font-family: Arial;
  font-size: 16px;
  color: black;
  line-height: 24px;
}

.img-headshot{
  width: 50%;
}

/*

@media only screen and (min-width: 768px) {
  .img-arcade{
    display: block;
    width: 100%;
    padding-bottom: 10px;
  }

  .wrapper{
    width: 600px;
    margin: 0 auto;
  }

  .img-info h1{
    padding: 20px 0px 0px;
  }
  
  .img-info p{
    padding: 20px 0px 0px;
  }

  .img-pumpkin{
    padding-top: 30px;
  }
}

@media only screen and (min-width: 1000px) {
  .header-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    }
  
  .header-main-menu{
    width: fit-content;
    height: 100%;
    padding-left: 40px;
    display: flex;
  }
  
  .header-main-logo{
    width: 200px;
    height: 60px;
    margin-top: 10px;
    background-image: url(../img/name.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .header-main-logo:hover{
    background-image: url(../img/name-blue.png)
  }
  
  .header-main-nav{
    width: fit-content;
    height: 100%;
  }
  
  .header-main-nav ul{
    list-style: none;
  }
  
  .header-main-nav ul li{
    display: inline;
    float: left;
  }
  
  .header-main-nav ul li a{
    padding: 0 10px 0 10px;
    font-family: Pixel;
    line-height: 30px;
    text-decoration: none;
    color: #1e1e1e;
  }
  
  .header-main-nav ul li a:hover{
    color: #38ff42;
  }
  
  .header-main-sm{
    width: fit-content;
    height: 100%;
    padding-right: 40px;
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  
  .header-main-sm-li{
    width: 20px;
    height: 20px;
    background-image: url(../img/linked-black.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .header-main-sm-li:hover{
    background-image: url(../img/linked-logo.png);
  }
  
  .header-main-sm-in{
    width: 20px;
    height: 20px;
    background-image: url(../img/insta-black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .header-main-sm-in:hover{
    background-image: url(../img/insta-logo.webp);
  }
  
  .projects{
    font-family: Pixel;
  }
  
  .wrapper{
    width: 1000px;
  }
  
  .img-info{
    margin-top:auto;
    width: 50%;
    float: right;
  }
  
  .img-info h1{
    padding: 20px 0px 0px 30px;
  }
  
  .img-info p{
    padding: 0px 0px 0px 30px;
  }
  
  .img-pumpkin{
    margin-top: 70px;
    padding-top: 0px;
    width: 50%;
    float: left;
  }

}

.img-music{
  width: 1100px;
  height: 200px;
  background-image: url(img/music.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
  
/*
h1 {
    color: #FFF;
    font-size: 2em;
    padding-top: 10px;
    width: 100%;
  }
  
h2 {
  }

  nav {
    width: 100;
    height: 100px;
    background-color: #1c1c1c;
    opacity: 90%
  }

ul {
    margin-left: 60px;
}

ul li {
    list-style: none;
    display: inline-block;
    line-height: 100px;
  }

ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial;
    color: #ffffff;
    padding: 0 30px;
  }

ul li a:hover {
    color: #5575bc;
  }

p {
    color: aliceblue;
    line-height: 1.3em;
    text-align: left;
    width: 100%;
  }

.menu{
    width: 100;
    height: 100px;
    background-color: #111;
    opacity: 50%;
}

.menu ul{
  margin-left: 60px;
}

.menu ul li{
  list-style: none;
  display: inline-block;
  line-height: 100px;
}

.menu ul li a{
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial;
  color:rgb(26, 164, 218);
  padding: 0 30px;
}

.menu ul li a:hover{
  color: #0051ff;
}
*/